/* Style général pour le footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #6f00ff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Ajout d'un style pour le texte */
  .footer p {
    margin: 0;
    font-size: 1rem;
  }